body {
    font-family: Arial, sans-serif;
    color: #1F2937;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
    text-align: center;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 50px;
    text-align: center;
}

.info {
    background-color: #E5E7EB;
    text-align: center;
    padding: 20px;
}